*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--background);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}

:root {
  --highlight: #eb9898;
  --background: #202020;
  --light-blue: #3f88c5;
  --yellow: #f0c808;
  --red: #dd1c1a;
  --light-background:#383838;
}